.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

/* Sider */
/* .dashboard-container {
      display: flex;
      height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #b97b10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.sidebar .logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #a66a0a;
}

.logout-btn {
    margin-top: auto;
    margin-bottom: 20px;
    background: white;
    color: #b97b10;
    font-weight: 600;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
} */

.body .sider {
    position: fixed;
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
    text-decoration: none;
}

/* Show alert */
[show-alert] {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End show alert */

/* Image preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}
/* End image preview */