/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
}
/* End box-head */

/* Product-item */
.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
}

.product-item .inner-content .inner-price {
    font-size: 18px;
    font-weight: 600;
    color: green;
}
/* End product-item */