extends ../../layouts/default.pug

block main
    .container.my-3 
        .row 
            .col-12
                .box-head
                    h2.inner-title List of products

        .row
            each item in product
                .col-4.mb-3
                    .product-item
                        .inner-image
                            img(src="", alt=`${item.name}`)
                        .inner-content
                            h3.inner-title #{item.name}
                            .inner-price #{item.price}