.sider
    .inner-menu
        ul
            li
                a(href="/admin/dashboard") Dashboard
            li
                a(href="/admin/products") Products
//- .dashboard-container
//-     .sidebar
//-         .logo
//-             img(src="/admin/images/logo.png", alt="Bakery Logo")

//-         .menu
//-             .menu-item
//-                 i.bi.bi-clipboard-data
//-                 span Revenue Report
//-             .menu-item
//-                 i.bi.bi-people
//-                 span Human Resource Management
//-             .menu-item
//-                 i.bi.bi-plus-circle
//-                 span Add Product
//-             .menu-item
//-                 i.bi.bi-cupcake
//-                 span Products Details

//-             button.logout-btn Log out